<button id="swtchButton" class = "btn btn-danger"  [routerLink]="['/usersfirebase']">Firebase Users</button>
<h2>Add users</h2>
<users-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimisticAdd()"></users-form>

<h2>
  List of users
</h2>
<ul class = "list-group">
 <li class = "list-group-item" *ngFor = "let key of usersKeys" >
   <a [routerLink] = "['/user', key]">{{'User number '+key+' '+users[key].username}}</a>
    <div style='float:right;'>
        <button class = "btn btn-danger"  (click)="deleteUser(key)">Delete</button>
        <button class = "btn btn-primary"  [routerLink]="['/user-update',key]">Update</button>
        
    </div>   

</li><!--> *ngFor is a directive for a loop to go over the messages (array) data. each li will present data from the array</!-->
</ul> 