
    <h2>
        List of users
    </h2>
<div class="container">
    <table class="table table-hover text-left">
      <tr>
        <th class="col-sm-3">Username</th>
        <th class="col-sm-3">Email</th>
        <th class="col-sm-3">Password</th>

        
      </tr>
      <tr *ngFor = "let user of users">
          <td class="col-sm-3">{{user.username}}</td>
          <td class="col-sm-3">{{user.email}}</td>
          <td class="col-sm-3">{{user.password}}</td>
       
  
      </tr>
      </table>
    </div>
