<h2>Update user number {{user?.id}}: </h2>
<form [formGroup] = "usrform" (ngSubmit) = "sendData()">
  <div>
    <label for="user"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{user?.username}}">
  </div>
  <div>
    <label for="email"></label>
    <input type="text" name="email" id="email" class="form-control" formControlName = "email" value="{{user?.email}}">
  </div>
  <br>
  <input type="submit" value="update user" class="btn btn-primary">
</form>