
<form [formGroup] = "searchForm" (ngSubmit) = "gotoResults()" class="form-inline my-2 my-lg-0">
	  <div>
	    <input type="text" name = "name" id ="name" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" formControlName = "name" required>
	    <div *ngIf="!searchForm.controls.name.valid && searchForm.get('name').touched" class="alert alert-danger">
	      Sorry, I cannot search for nothing :)
      </div>  
      <input type="submit" value = "Search" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!searchForm.valid">  
	  </div>
</form>

<h2>
  List of products
</h2>
<ul class = "list-group">
 <li class = "list-group-item" *ngFor = "let key of productsKeys" >
  <div style='float:right;'>
        <button class = "btn btn-primary"  [routerLink]="['/editproduct',key]">Edit</button>
        
    </div>  
 <b> {{'Product number: '+key}}</b><br>
  {{'name: ' +products[key].name}} <br>
  {{'price: '+products[key].price}} <br>
       

</li><!--> *ngFor is a directive for a loop to go over the messages (array) data. each li will present data from the array</!-->
</ul> 