<nav class="nav-bar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--
        <li routerLinkActive = "active current" [routerLinkActiveOptions]= {exact:true}> <a routerLink = "">Homepage</a></li>  מונע ריפרש של הדף ומבצע רק את הריפרש של הקומפוננטס
        <li routerLinkActive = "active current"><a routerLink="/users">Users</a></li>
        <li routerLinkActive = "active current"><a routerLink="/usersfirebase">Users FireBase</a></li>
        <li routerLinkActive = "active current"><a routerLink="/usersinline">Users inline edit</a></li>
        -->
        <li routerLinkActive = "active current"><a routerLink="/products">Products</a></li>
        <li routerLinkActive = "active current"><a routerLink="/fproducts">FireBase Products</a></li>
        <li routerLinkActive = "active current"><a routerLink="/login">Login</a></li>

         
        <li routerLinkActive = "active current"><a routerLink="invalid-empty-url" (click)="logout()"> Logout </a></li>
        
      
        
  
      </ul>
    </div>
  </div>
  </nav>